.table-container {
    margin: 0 auto;
    max-width: 90%;
    overflow: auto; /* Ensure the container can scroll if necessary */
    margin-top: 20px;
}

.table-responsive {
    display: block;
    max-height: 500px; /* Adjust this value as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    /* margin-top: 100px; */
    margin-bottom: 50px;
}

.table thead, .table tbody tr {
    display: table;
    width: 100%; /* Full width of the parent container */
    table-layout: fixed; /* Helps in equal column width */
}

.table thead {
    background: rgb(219, 219, 219); /* Change to your preferred color */
}

.table tbody {
    display: block; /* Make tbody scrollable */
    overflow-x: hidden;
}

.table-Top-text {
    background-color: rgb(206, 206, 206);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    padding-left: 20px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.chart-container {
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 600px;
}

.chart-container2 {
    border: 1px solid #d3d3d3;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 900px;
}

.Sort-btn {
    margin-left: 20px;
    border: none;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
}